// Colors
$section-theme: #e5e5e5;
$saidBar-btn-background: #ffffff;
$color-border-text: #acacac;
$color-btn-text: #48484a;
// Font-size
$size-text-info: 96px;
$size-text-weather: 36px;
$size-btn-search: 18px;
$size-text: 18px;
$size-forecast-title: 24px;
$size-forecast-text: 20px;
$size-day-text: 14px;
// Font-weight
$weight-ultra-bold: 900;
$weight-bold: 700;
$weight-normal: 400;

//Line-Height
$line-height-text: 21px;
$line-height-weather: 36px;
$line-height-day: 17px;
// Border-radius
$btn-search-radius: 10px;
